# .gitignore file

# MPLAB X IDE (Netbeans) specific
**/*.X/~*.*
**/*.X/build/
**/*.X/debug/
**/*.X/dist/
**/*.X/disassembly/
**/*.X/.generated_files/
**/*.X/nbproject/private/
**/*.X/nbproject/*.mk
**/*.X/nbproject/*.bash
**/*.X/nbproject/Makefile-genesis.properties

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe


# KDE specific
.directory

# Misc
.svn
*.bak
/DonAlarm_2_MCC.mc3.bak0
/defmplabxtrace.log
/defmplabxtrace.log.inx
/build/
/dist/
/nbproject/Package-default.bash
/nbproject/Makefile-default.mk
/nbproject/Makefile-impl.mk
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-variables.mk
/nbproject/private/
/queuelogs/debugtool